.nav-menu{
  padding:0px;
  .nav-item{
    list-style: none;
    padding: 10px;
    .nav-label{
      color: #fff;
      text-decoration: none;
      font-weight: 100;
      font-size: 100%;
      cursor: pointer;
      .menu-title{
        margin: 5px;
      }
    }
  }
}
